<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184019483421-bnd6f9tslcuuck2s7rqm15bnm725nrua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184019483421-bnd6f9tslcuuck2s7rqm15bnm725nrua</string>
	<key>API_KEY</key>
	<string>AIzaSyADDkFUgf2iFVG-S1ZpqdZ-MkaB6D0QhPw</string>
	<key>GCM_SENDER_ID</key>
	<string>184019483421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flash.flash</string>
	<key>PROJECT_ID</key>
	<string>flash-f507c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-f507c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184019483421:ios:134c2a00dd7939799a3ff4</string>
</dict>
</plist>